/* Card_B50 */

position: relative;
width: 208px;
height: 282px;



/* card_background */

position: absolute;
width: 208px;
height: 282px;
left: 0px;
top: 0px;



/* background */

box-sizing: border-box;

position: absolute;
width: 208px;
height: 282px;
left: 0px;
top: 0px;

background: #ECEDF4;
border: 1px solid #5229C0;
box-shadow: 0px 0.8px 0px #21008D;
border-radius: 8px;


/* 左侧装饰 */

position: absolute;
width: 27px;
height: 7px;
left: 7px;
top: 208px;

background: #21008D;


/* Ellipse 5 */

position: absolute;
width: 7px;
height: 7px;
left: 7px;
top: 208px;

background: #21008D;


/* Ellipse 6 */

position: absolute;
width: 7px;
height: 7px;
left: 17px;
top: 208px;

background: #21008D;


/* Ellipse 7 */

position: absolute;
width: 7px;
height: 7px;
left: 27px;
top: 208px;

background: #21008D;


/* 右侧装饰 */

position: absolute;
width: 15px;
height: 14px;
left: 185px;
top: 204px;

background: #5229C0;


/* Rectangle 11 */

position: absolute;
width: 1.15px;
height: 8.75px;
left: 185px;
top: 209.25px;

background: #5229C0;


/* Rectangle 14 */

position: absolute;
width: 1.15px;
height: 7px;
left: 187.31px;
top: 211px;

background: #5229C0;


/* Rectangle 15 */

position: absolute;
width: 1.15px;
height: 10.5px;
left: 191.92px;
top: 207.5px;

background: #5229C0;


/* Rectangle 22 */

position: absolute;
width: 1.15px;
height: 8.75px;
left: 196.54px;
top: 209.25px;

background: #5229C0;


/* Rectangle 23 */

position: absolute;
width: 1.15px;
height: 7px;
left: 198.85px;
top: 211px;

background: #5229C0;


/* Rectangle 12 */

position: absolute;
width: 1.15px;
height: 14px;
left: 189.62px;
top: 204px;

background: #5229C0;


/* Rectangle 13 */

position: absolute;
width: 1.15px;
height: 5.25px;
left: 194.23px;
top: 212.75px;

background: #5229C0;


/* 封面 */

box-sizing: border-box;

position: absolute;
width: 194px;
height: 194px;
left: 7px;
top: 7px;

background: url(image.png);
border: 1px solid #262527;


/* song_title */

position: absolute;
width: 113px;
height: 15px;
left: 54px;
top: 203px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* or 125% */
display: flex;
align-items: center;
letter-spacing: -1px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;



/* info_area */

position: absolute;
width: 201px;
height: 281px;
left: 0px;
top: -5px;



/* info_background */

position: absolute;
width: 195px;
height: 55px;
left: 6px;
top: 226px;



/* Rectangle 24 */

box-sizing: border-box;

position: absolute;
width: 195px;
height: 55px;
left: 6px;
top: 226px;

background: #FFFFFF;
border: 0.5px solid #7549EA;
border-radius: 5px;


/* 装饰线 */

position: absolute;
width: 195px;
height: 0px;
left: 6px;
top: 263px;

border: 0.5px solid #7549EA;


/* 装饰background */

position: absolute;
width: 195px;
height: 15px;
left: 6px;
top: 266px;

background: linear-gradient(90deg, #21008D 75.96%, #8679B1 100%);


/* 左下装饰 */

position: absolute;
width: 6px;
height: 1.56px;
left: 9px;
top: 262px;

background: #21008D;


/* Ellipse 5 */

position: absolute;
width: 1.56px;
height: 1.56px;
left: 9px;
top: 262px;

background: #21008D;


/* Ellipse 6 */

position: absolute;
width: 1.56px;
height: 1.56px;
left: 11.22px;
top: 262px;

background: #21008D;


/* Ellipse 7 */

position: absolute;
width: 1.56px;
height: 1.56px;
left: 13.44px;
top: 262px;

background: #21008D;


/* 右下装饰 */

position: absolute;
width: 18.16px;
height: 3.54px;
left: 180px;
top: 258px;

background: #2A1995;


/* Rectangle 2 */

position: absolute;
left: 90.88%;
right: 6.98%;
top: 91.71%;
bottom: 7.78%;

background: #2A1995;
border-radius: 81px;
transform: matrix(0.68, -0.73, 0.72, 0.69, 0, 0);


/* Rectangle 7 */

position: absolute;
left: 89.41%;
right: 8.45%;
top: 91.71%;
bottom: 7.78%;

background: #2A1995;
border-radius: 81px;
transform: matrix(0.68, -0.73, 0.72, 0.69, 0, 0);


/* Rectangle 3 */

position: absolute;
left: 92.35%;
right: 5.51%;
top: 91.71%;
bottom: 7.78%;

background: #2A1995;
border-radius: 81px;
transform: matrix(0.68, -0.73, 0.72, 0.69, 0, 0);


/* Rectangle 4 */

position: absolute;
left: 93.82%;
right: 4.04%;
top: 91.71%;
bottom: 7.78%;

background: #2A1995;
border-radius: 81px;
transform: matrix(0.68, -0.73, 0.72, 0.69, 0, 0);


/* Rectangle 5 */

position: absolute;
left: 95.29%;
right: 2.57%;
top: 91.71%;
bottom: 7.78%;

background: #2A1995;
border-radius: 81px;
transform: matrix(0.68, -0.73, 0.72, 0.69, 0, 0);


/* Rectangle 6 */

position: absolute;
left: 96.76%;
right: 1.1%;
top: 91.71%;
bottom: 7.78%;

background: #2A1995;
border-radius: 81px;
transform: matrix(0.68, -0.73, 0.72, 0.69, 0, 0);


/* difficulty_area */

position: absolute;
width: 96px;
height: 10px;
left: 105px;
top: 268px;



/* difficulty_background */

position: absolute;
width: 65px;
height: 10px;
left: 136px;
top: 268px;

background: #E10035;


/* CLASS */

position: absolute;
width: 19px;
height: 8px;
left: 138px;
top: 269px;

font-family: 'ITC Avant Garde Gothic Book';
font-style: normal;
font-weight: 500;
font-size: 7px;
line-height: 20px;
/* or 286% */
display: flex;
align-items: center;
letter-spacing: -0.08em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #AFAFAF;



/* EXTREAM */

position: absolute;
width: 55px;
height: 8px;
left: 146px;
top: 269px;

font-family: 'ITC Avant Garde Gothic Book';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 20px;
/* or 182% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: -0.03em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #050405;

opacity: 0.85;


/* LEVEL_value */

position: absolute;
width: 29px;
height: 8px;
left: 105px;
top: 269px;

font-family: 'ITC Avant Garde Gothic Book';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: -0.03em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

opacity: 0.85;


/* Skill_area */

position: absolute;
width: 97px;
height: 23px;
left: 101px;
top: 232px;



/* SKILL_value */

position: absolute;
width: 64px;
height: 15px;
left: 134px;
top: 237px;

font-family: 'ITC Avant Garde Gothic Book';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 10px;
/* or 41% */
display: flex;
align-items: center;
letter-spacing: -0.09em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #201E21;



/* Skill_icon */

position: absolute;
left: 50.25%;
right: 34.83%;
top: 82.56%;
bottom: 9.25%;

background: #FF6C00;


/* 达成率_area */

position: absolute;
width: 90px;
height: 37.88px;
left: 7px;
top: 225px;



/* 达成率_value */

position: absolute;
width: 64px;
height: 15px;
left: 33px;
top: 237px;

font-family: 'ITC Avant Garde Gothic Book';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 10px;
/* or 41% */
display: flex;
align-items: center;
letter-spacing: -0.09em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #201E21;



/* 达成率_icon */

position: absolute;
width: 25.26px;
height: 35.31px;
left: 7px;
top: 225px;

background: #FF6D00;
transform: rotate(6.33deg);


/* STICK */

position: absolute;
width: 86px;
height: 87.15px;
left: 0px;
top: -5px;



/* stick_rankS */

position: absolute;
width: 86px;
height: 86px;
left: 0px;
top: -5px;

background: url(8_rankS.png);


/* stick_fullcombo */

position: absolute;
width: 85.98px;
height: 29.46px;
left: 0px;
top: 52.7px;

background: url(ScreenResult fullcombo.png);
